/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Custom CSS*/

/*Practice 10-2 Page*/

.pr{
    background-image: url("../images/ferryboat.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
	background-attachment: fixed;
}

.pr p{
    text-align: center;
    font-size:1.8em;
    padding:50px;
    font-family: Helvetica, sans-serif;
}

/*Assignment 5 Page*/

.assignment h1,
.assignment h3,
.assignment h4,
.assignment h5{
    font-family: 'Beau Rivage', cursive;
    text-align: center;
}

.assignment{
    font-family: Georgia, serif;
    background: #ffc0b4;
}

.assignment header img{
    display:block;
    margin:0 auto;
    padding: 20px;
    max-width: 100px;
}

.assignment h1{
    font-size: 3em;
}

.assignment h2{
    text-align: center;
    font-size: 1em;
    padding-bottom: 20px;
}

.assignment h3{
    font-size:2.5em;
    padding:10px;
}

.assignment h4{
    font-size:2em;
    padding:10px;
}

.assignment h5{
    font-size:1em;
    padding:10px;
}

.assignment article{
    background: #ffffff;
    border: solid #000000 2px;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.assignment p{
    margin: 20px;
}

.assignment figure img{
    display:block;
    margin:0 auto;
    border: 2px solid #000000;
    box-shadow: 0 0 10px #777770;
}

.assignment figure{
    text-align: center;
    font-size: .75em;
    margin: 20px;
}

.assignment figcaption{
    padding-top: 10px;
}

#more,
#button{
    margin:10px auto;
    display:block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: #ffc0b4;
    color:#000000;
    max-width: 100px;
    border: 1px solid #000000;
    box-shadow: 0 0 10px #777770;
    font-family:Georgia, serif;
    font-size:1em;
}

#more{
    max-width: 200px;
    padding: 10px 20px;
}

.assignment #plus{
    text-align: center;
}



/*Media Queries*/

@media screen and (min-width: 768px) {

    .assignment header img{
        max-width: 150px;
    }

    .assignment main{
        max-width: 80%;
        margin: 0 auto;
    }
    .assignment article{
        width:100%;
        margin-top:30px;
    }
    .assignment main .synopsis{
        max-width: 60%;
        display:inline-block;
        margin-top:0;
    }

    .sketch{
        display: inline-block;
        width: 30%;
    }
    
}

@media screen and (min-width: 992px) {

    .sketch img{
        max-width:70%;
    }
    .sketch{
        max-width: 100%;
    }
   
}

@media screen and (min-width: 1200px) {

    .assignment main{
        max-width:65%;
    }
    
}

@media screen and (min-width: 1400px) {

    .assignment main{
        max-width:55%;
    }
    
}